body {
    /*border: 2px solid black;*/
    background-image: url(Assets/Shipwreck.jpg);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Coming Soon'; 
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Walter Turncoat';
}

h2 {
    font-size: 40px; 
}

nav {
    /*border: 2px solid green;*/
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
/*#LabelWinLoose{
    color: blue;
}*/
.labelPlayAgain{
    font-size: 20px;
    color: black;
}
.labelWinLoose {
    color: midnightblue;
}

.gameInfo {
    /*border: 2px solid red;*/
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

    .gameInfo table {
        font-size: 30px;
        color: white;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

        .gameInfo table td {
            width: auto;
            /*border: 2px solid green;*/
            /*padding: 30px 30px 30px 30px;*/
            margin: 30px 30px 30px 30px;
        }
        
        .gameInfo .TextBoxes {
            width: auto;
            font-size: 20px;
            color: darkblue;
        }

        .gameInfo .Validators {
            font-size: 15px;
        }

    .gameInfo .btnPlayGame {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: midnightblue;
        color: white;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
        font-family: 'Walter Turncoat';
    }

.EndGamePage {
    color: white;
}
